* {
  font-family: "Antwerpen Regular";
}
h1 {
  margin-left: 2%;
  margin-bottom: 30px;
  border-bottom: 1px solid #aaa;
}
.addStoryButton {
  width: 100%;
  text-align: right;
}
.addStoryButton .addButton {
  width: 20%;
  margin-right: 6.7%;
  padding: 1%;
}
.AllStories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 2%;
}
.storyForum {
  border: 5px solid #000;
  width: 27%;
  margin-right: 3%;
  margin-bottom: 50px;
  padding: 1%;
}
.storyForum .commentAndTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
.storyForum .commentAndTitle .commentCount {
  color: #007bff;
}
.storyForum h4 {
  font-size: 2em;
  color: #000;
  margin-top: 0;
}
.storyForum a {
  text-decoration: none;
}
.storyForum p {
  color: #000;
}
form label {
  display: inline-block;
  width: 7%;
  text-align: right;
  margin-right: 0;
}
form .smallTextInput {
  font-size: 0.7em;
  margin-top: 0;
  margin-left: 7.5%;
}
form .storyField * {
  vertical-align: top;
}
form input,
form textarea {
  width: 50%;
  padding: 0.5%;
}
form input[type=text] {
  height: 30px;
}
form input[type=submit] {
  width: 20%;
  padding: 1%;
  margin-left: 7%;
}
/*-----------------------------
-------SHOW ONE FORUM----------
-----------------------------*/
.oneStoryForum {
  display: flex;
  padding: 2%;
}
.tittleAndBody {
  width: 50%;
  margin-right: 5%;
  border-right: 1px solid #999;
}
.tittleAndBody h4 {
  font-size: 1.5em;
  color: #ff5757;
}
.comments {
  width: 40%;
}
.comments .oneComment {
  border-bottom: 1px solid #ddd;
}
.addReactionForm {
  margin-top: 30px;
  margin-left: 0%;
}
.addReactionForm label {
  width: 15%;
}
.addReactionForm textarea {
  width: 70%;
}
.addReactionForm input[type=submit] {
  margin-left: 5%;
}
/*-----------------------------
-------GAME REACTIONS----------
-----------------------------*/
.allGameComments {
  margin-top: 50px;
  margin-left: 5%;
}
.oneGameComment {
  border-bottom: 1px solid #ddd;
}
.oneGameComment:last-child {
  border: none;
}

.lowerButton {
  margin-top: 1%;
}

input[type=submit],
button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 0.5%;
}
input[type=submit]:hover,
button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}






/**/
