@media (max-width:1000px) {
body {
  background-color: white;
}
.skipStory,
.scrollStory,
.storyView,
#triggers1,
#triggers2,
#triggers3,
#triggers4,
#triggers5,
#triggers6 {
  display: none;
}
.OtherContent {
  top: 0;
}
.OtherContent,
.storyNumber1,
.storyNumber2,
.storyNumber3,
.storyNumber4,
.zieMeer {
  position: static;
}
}
