@media (max-width:1000px) {
.wrapper, html, body {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}
.skipStory,
.scrollStory,
.storyView,
#triggers1,
#triggers2,
#triggers3,
#triggers4,
#triggers5,
#triggers6 {
  display: none;
}
.OtherContent {
  top: 0;
}
.OtherContent,
.storyNumber1,
.storyNumber2,
.storyNumber3,
.storyNumber4,
.zieMeer {
  position: static;
}
#stats1 > div, #stats2 > div {
    float: none;
    font-size: 1.5em;
}
#statsinfoafter {
  height: 5%;
}
#bar1, #bar2 {
    margin-bottom: 0%;
}
.forumInStory {
  width: 100%;
  display: inline-block;
}
.forumInStory a {
  width: 90%;
}
#textg1 {
  margin-top: 5%;
}
}
