@font-face {
    font-family: antwerpen;
    src: url(AntwerpenRegular.otf);
}
body {
    width: 100%;
    margin: 0;
    background-color: white;
}
p {
    font-family: antwerpen;
    font-size: 2.5em;
    position: absolute;
}
#alogo {
    position: absolute;
    top: 0;
    left: 0;
}
#bg1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#tram {
    position: absolute;
    width: 50%;
    top: 41%;
    left: 55%;
}
#text1 {
    left: 60%;
    top: 120%;
    opacity: 0;
}
#fdiv1 {
    position: absolute;
    height: 650px;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    left: 0;
    top: 170%
}
#buildings1,
#buildings2 {
    width: 85%;
    position: absolute;
    top: 30px;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#buildings1 {
    animation-name: buildings1-move;
}
#buildings2 {
    animation-name: buildings2-move;
}
@keyframes buildings1-move {
    0% {
        transform: translatex(-95%);
    }
    50% {
        transform: translatex(0);
    }
    100% {
        transform: translatex(85%);
    }
}
@keyframes buildings2-move {
    0% {
        transform: translatex(0);
    }
    50% {
        transform: translatex(85%);
    }
    51% {
        transform: translatex(-95%);
    }
    100% {
        transform: translatex(0);
    }
}
#frame1 {
    width: 120%;
    position: absolute;
}
#text2 {
    left: 65%;
    top: 190%;
    opacity: 0;
}
#fdiv2 {
    position: absolute;
    height: 650px;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    left: 55%;
    top: 270%
}
#frame2 {
    width: 120%;
    position: absolute;
    right: 1%
}
#man {
    width: 120%;
    position: absolute;
    right: 50%
}
#text3 {
    left: 0%;
    top: 290%;
    width: 50%;
    opacity: 0;
}
#face {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 250%
}
#drop1,
#drop2,
#drop3 {
    width: 2%;
    position: absolute;
    top: 70%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#drop1 {
    animation-name: drop1-move;
    left: 50%;
    animation-duration: 4s;
}
#drop2 {
    animation-name: drop2-move;
    left: 35%;
    animation-duration: 3s;
}
#drop3 {
    animation-name: drop3-move;
    left: 60%;
    animation-duration: 5s;
}
@keyframes drop2-move {
    0% {
        transform: translatey(0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translatey(170px);
        opacity: 0;
    }
}
@keyframes drop1-move {
    0% {
        opacity: 0.5;
        transform: translateY(210px);
    }
    29% {
        opacity: 0;
        transform: translateY(300px);
    }
    30% {
        transform: translatey(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(210px);
    }
}
@keyframes drop3-move {
    0% {
        transform: translatey(80px);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    59% {
        opacity: 0;
        transform: translateY(150px);
    }
    60% {
        transform: translatey(0);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translatey(80px);
        opacity: 1;
    }
}
#text4 {
    left: 12%;
    top: 360%;
    opacity: 0;
    color: white;
}
#text5 {
    left: 30%;
    top: 475%;
    opacity: 0;
    color: white;
}
#fdiv3 {
    position: absolute;
    height: 650px;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    left: 0%;
    top: 510%
}
#frame3 {
    width: 120%;
    position: absolute;
    left: 0%
}
#man2 {
    width: 120%;
    position: absolute;
    left: 30%
}
#bg3 {
    width: 120%;
    position: absolute;
    left: 0%
}
#text6 {
    left: 60%;
    top: 530%;
    width: 40%;
    opacity: 0;
    color: white;
}
#fdiv4 {
    position: absolute;
    height: 650px;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    left: 55%;
    top: 610%
}
#bg4 {
    width: 120%;
    position: absolute;
    right: 10%
}
#frame4 {
    width: 120%;
    position: absolute;
    right: 0%
}
#text7 {
    left: 0%;
    top: 630%;
    width: 50%;
    opacity: 0;
    color: white;
}
#texts1 {
    opacity: 0;
}
#texts2 {
    opacity: 0;
    left: 15%;
}
.forumInStory {
    padding: 2%;
    position: relative;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.storyNumber1,
.storyNumber3 {
    opacity: 0;
    left: -50%;
    position: absolute;
}
.storyNumber2,
.storyNumber4 {
    opacity: 0;
    left: 100%;
    position: absolute;
}
.storyNumber3,
.storyNumber4 {
    top: 500%;
}
.forumInStory .storyForum {
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    padding: 2%;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}
.forumInStory a {
    width: 40%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 200px;
    text-decoration: inherit;
    float: left;
}
.forumInStory .storyForum .commentAndTitle {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
}
.forumInStory .storyForum h4 {
    font-size: 2em;
    margin-top: 0px;
    color: #ff5757;
}
.forumInStory .storyForum a > p {
    margin-top: 0px;
    color: #fff;
    border: none;
}
.forumInStory .storyForum a {
    text-decoration: inherit;
}
.forumInStory .zieMeer {
    width: 100%;
    position: absolute;
    top: 870%;
    opacity: 0;
    text-align: right;
}
.forumInStory .zieMeer a {
    width: 100%;
    text-align: right;
    text-decoration: inherit;
}
.forumInStory p {
    font-size: 1em;
    margin-right: 5%;
    font-weight: bold;
    position: relative;
}
/*****************************
            TRIGUURS
******************************/
#trigger1,
#trigger2,
#trigger3,
#trigger4,
#trigger5,
#trigger6,
#trigger7,
#trigger8,
#trigger9,
#trigger10,
#trigger11,
#trigger12,
#trigger13 {
  position: absolute;
}

#trigger1 {
  top: 55%;
}
#trigger2 {
  top: 90%;
}
#trigger3 {
  top: 150%;
}
#trigger4 {
  top: 185%;
}
#trigger5 {
  top: 240%;
}
#trigger6 {
  top: 260%;
}



/*****************************
            CLEARFIX
******************************/

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}

/**/
