body {
    width: 100%;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}
main {
  width: 100%;
  overflow: hidden;
}
p {
    font-family: AntwerpFont;
    font-size: 2.5em;
    position: absolute;
}
#alogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
}
#bg1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#tram {
    position: absolute;
    width: 50%;
    top: 41%;
    left: 55%;
}
#text1 {
    left: 55%;
    top: 125%;
    opacity: 0;
    width: 35%;
    text-align: right;
}
#fdiv1 {
    position: absolute;
    height: 650px;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    left: 0;
    top: 170%
}
#buildings1,
#buildings2 {
    width: 85%;
    position: absolute;
    top: 30px;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#buildings1 {
    animation-name: buildings1-move;
}
#buildings2 {
    animation-name: buildings2-move;
}
@keyframes buildings1-move {
    0% {
        transform: translatex(-95%);
    }
    50% {
        transform: translatex(0);
    }
    100% {
        transform: translatex(85%);
    }
}
@keyframes buildings2-move {
    0% {
        transform: translatex(0);
    }
    50% {
        transform: translatex(85%);
    }
    51% {
        transform: translatex(-95%);
    }
    100% {
        transform: translatex(0);
    }
}
#frame1 {
    width: 120%;
    position: absolute;
}
#text2 {
    left: 60%;
    top: 190%;
    opacity: 0;
    width: 35%;
}
#fdiv2 {
    position: absolute;
    height: 650px;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    left: 55%;
    top: 270%
}
#frame2 {
    width: 120%;
    position: absolute;
    right: 1%
}
#man {
    width: 120%;
    position: absolute;
    right: 50%
}
#text3 {
    left: 0%;
    top: 290%;
    width: 40%;
    opacity: 0;
}
#faceimg {
  width: 100%;
}
#face {
  -webkit-transform: translate(0, -55%);
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 370%
}
#drop1,
#drop2,
#drop3 {
    width: 2%;
    position: absolute;
    top: 70%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#drop1 {
    animation-name: drop1-move;
    left: 50%;
    animation-duration: 4s;
}
#drop2 {
    animation-name: drop2-move;
    left: 35%;
    animation-duration: 3s;
}
#drop3 {
    animation-name: drop3-move;
    left: 60%;
    animation-duration: 5s;
}
@keyframes drop2-move {
    0% {
        transform: translatey(0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translatey(170px);
        opacity: 0;
    }
}
@keyframes drop1-move {
    0% {
        opacity: 0.5;
        transform: translateY(210px);
    }
    29% {
        opacity: 0;
        transform: translateY(300px);
    }
    30% {
        transform: translatey(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(210px);
    }
}
@keyframes drop3-move {
    0% {
        transform: translatey(80px);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    59% {
        opacity: 0;
        transform: translateY(150px);
    }
    60% {
        transform: translatey(0);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translatey(80px);
        opacity: 1;
    }
}
#text4 {
    top: 360%;
    opacity: 0;
    color: white;
    width: 100%;
    text-align: center;
}
#text5 {
    top: 475%;
    opacity: 0;
    color: white;
    width: 100%;
    text-align: center;
}
#fdiv3 {
    position: absolute;
    height: 650px;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    left: 0%;
    top: 510%
}
#frame3 {
    width: 120%;
    position: absolute;
    left: 0%
}
#man2 {
    width: 120%;
    position: absolute;
    left: 30%
}
#bg3 {
    width: 120%;
    position: absolute;
    left: 0%
}
#text6 {
    left: 60%;
    top: 530%;
    width: 40%;
    opacity: 0;
    color: white;
}
#fdiv4 {
    position: absolute;
    height: 650px;
    width: 50%;
    overflow: hidden;
    opacity: 0;
    left: 55%;
    top: 610%
}
#bg4 {
    width: 120%;
    position: absolute;
    right: 10%
}
#frame4 {
    width: 120%;
    position: absolute;
    right: 0%
}
#whiteScreenEnd {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 600%;
  height: 2000px;
  background-color: white;
}
#text7 {
    left: 0%;
    top: 630%;
    width: 40%;
    opacity: 0;
    color: white;
}
#text8 {
    top: 700%;
    left: 15%;
    width: 70%;
    text-align: center;
    opacity: 0;
}
#texti1 {
    opacity: 1;
    margin-left: 5%;
    font-size: 2.5em;
}
/*****************************
            TRIGUURS
******************************/
#trigger1,
#trigger2,
#trigger3,
#trigger4,
#trigger5,
#trigger6,
#trigger7,
#trigger8,
#trigger9,
#trigger10,
#trigger11,
#trigger12,
#trigger13,
#trigger14,
#trigger15,
#trigger16
 {
  position: absolute;
}

#trigger1 {
  top: 55%;
}
#trigger2 {
  top: 95%;
}
#trigger3 {
  top: 150%;
}
#trigger4 {
  top: 185%;
}
#trigger5 {
  top: 240%;
}
#trigger6 {
  top: 260%;
}
#trigger7 {
  top: 340%;
}
#trigger8 {
  top: 360%;
}
#trigger9 {
  top: 450%;
}
#trigger10 {
  top: 495%;
}
#trigger11 {
  top: 515%;
}
#trigger12 {
  top: 590%;
}
#trigger13 {
  top: 610%;
}
#trigger14 {
  top: 700%;
}
#trigger15 {
  top: 720%;
}
#trigger16 {
  top: 710%;
}


/*****************************
            CLEARFIX
******************************/

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}

/**/
