@font-face {
    font-family: AntwerpFont;
    src: url('/fonts/AntwerpenRegular.otf');
}
* {
    font-family: AntwerpFont;
}
.skipStory {
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 80%;
    top: 2%;
    font-size: 0.5em;
    color: #4286f4;
}
.skipStory p{
    background-color: white;
    border-radius: 20px;
    padding: 0 1% 0 1%;
}
.skipStory:hover {
    color: #2163ce;
}
.scrollStory {
    position: absolute;
    z-index: 5;
    font-size: 1em;
    width: 30%;
    top: 90%;
    margin: 0 35% 0 35%;
}
.scrollStory button {
    width: 100%;
    height: 50px;
}
.scrollStory button:not(:hover) {
    animation-name: flikkerBackColorBttn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes flikkerBackColorBttn {
    0% {
        border: 3px solid black;
        background-color: white;
        color: black;
    }
    50% {
        border: none;
        background-color: black;
        color: white;
    }
    100% {
        border: 3px solid black;
        background-color: white;
        color: black;
    }
}
.OtherContent {
    position: absolute;
    top: 800%;
}
.OtherContent p {
    font-size: 1em;
    position: relative;
}
.ContentDiv {
    margin: 0 5%;
}
.mobileIntro {
  display: none;
}
#bar1,
#bar2 {
    border: 5px black solid;
    width: 50%;
    margin-bottom: 5%;
}
#percentage1 {
    margin: 5px;
    width: 0%;
    height: 30px;
    background-color: #ea4d4d;
}
#percentage2 {
    margin: 5px;
    width: 0%;
    height: 30px;
    background-color: #ea4d4d;
}
#stats1,
#stats2 {
    width: 100%;
}
#stats1 > div,
#stats2 > div {
    width: 50%;
    text-align: left;
    float: left;
    font-size: 2em;
}
#statsinfo, #statsinfoafter {
    width: 50%;
    padding-left: 5%;
    text-align: center;
}
#stats {
    margin-top: 10%;
    margin-bottom: 15%;
    width: 100%;
}
#texts1, #textg1, #textc1 {
    margin-top: 50px;
    font-size: 2.5em;
}
.forumInStory {
    padding: 2%;
    position: relative;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.storyNumber1,
.storyNumber3 {
    opacity: 0;
    left: -50%;
    position: absolute;
}
.storyNumber2,
.storyNumber4 {
    opacity: 0;
    left: 100%;
    position: absolute;
}
.storyNumber3,
.storyNumber4 {
    top: 570%;
}
.forumInStory .storyForum {
    border: 5px solid #000;
    color: #000;
    padding: 2%;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.forumInStory > a {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 200px;
    text-decoration: inherit;
    float: left;
}
.forumInStory .storyForum .commentAndTitle {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    margin-bottom: 30px;
}
.forumInStory .storyForum .commentAndTitle .commentCount {
    color: #007bff;
}
.forumInStory .storyForum h4 {
    font-size: 2em;
    margin-top: 0px;
    color: #000;
}
.forumInStory .storyForum a > p {
    margin-top: 0px;
    color: #fff;
    border: none;
}
.forumInStory .storyForum a {
    text-decoration: inherit;
}
.forumInStory .zieMeer {
    width: 100%;
    position: absolute;
    top: 1000%;
}
.forumInStory .zieMeer a {
    width: 100%;
    text-align: right;
}
.forumInStory p {
    font-size: 1em;
    margin-right: 5%;
    font-weight: bold;
    position: relative;
}
#textg1 {
    font-size: 2.5em;
    margin-top: 48%;
}
#textc1 {
    font-size: 2.5em;
}
.gamepageWithoutTitle {
    display: flex;
    justify-content: space-between;
}
.gamepageWithoutTitle .gameInfoAndPhotos {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 1%;
}
.gamepageWithoutTitle .gameInfoAndPhotos {
    width: 40%;
    padding: 1% 0 1% 0;
}
.gamepageWithoutTitle .gameInfoAndPhotos .GameInfo {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

/*PHOTOS*/

.gamepageWithoutTitle .gameInfoAndPhotos .GamePhotos {
    display: flex;
}
.gamepageWithoutTitle .gameInfoAndPhotos .GamePhotos .bigPhoto {
    width: 60%;
    height: 250px;
    margin-right: 2%;
}
.gamepageWithoutTitle .gameInfoAndPhotos .GamePhotos .bigPhoto img {
    width: 100%;
    height: 100%;
}
.gamepageWithoutTitle .gameInfoAndPhotos .GamePhotos .smallPhotos {
    width: 38%;
    height: 250px;
}
.gamepageWithoutTitle .gameInfoAndPhotos .GamePhotos .smallPhotos img {
    width: 100%;
    height: 49%;
}
.gamepageWithoutTitle .gameInfoAndPhotos .GamePhotos .smallPhotos img:first-child {
    margin-bottom: 2.5%;
}
.gamepageWithoutTitle .gameInfoAndPhotos .GamePhotos .smallPhotos img:last-child {
    margin-bottom: 0%;
}

/*PHOTOS END*/

.gamepageWithoutTitle .gamereactionsAndPlayGame .gamePlay {
    margin-bottom: 20px;
    border: 5px solid #000;
    height: 130px;
    text-align: center;
}
.gamepageWithoutTitle .gamereactionsAndPlayGame .gamePlay h2 {
    margin-top: 39.4px;
    font-size: 3em;
    color: black;
}
.gamePlay:hover {
    background-color: #ddd;
}
.gamePlayA:hover {
    text-decoration: none;
}
.gamepageWithoutTitle .gamereactionsAndPlayGame .gameReactions {
    padding: 2%;
}
.gamepageWithoutTitle .gamereactionsAndPlayGame .gameReactions .oneGameComment {
    border-bottom: 1px solid #ddd;
}
.gamepageWithoutTitle .gamereactionsAndPlayGame .gameReactions .seeMoreReacties {
    text-align: right;
    margin-top: 10px;
}
.gamepageWithoutTitle .gamereactionsAndPlayGame .gameReactions .seeMoreReacties a {
    text-decoration: none;
    color: #007bff;
}
.gamepageWithoutTitle .gamereactionsAndPlayGame .gameReactions .seeMoreReacties a:hover {
    color: #3f6db7;
}
.gamepageWithoutTitle .gamereactionsAndPlayGame .gameReactions form textarea {
    width: 100%;
}
input[type=submit],
button {
    background-color: black;
    border: none;
    color: white;
    padding: 0.5%;
}
input[type=submit]:hover,
button:hover {
    background-color: white;
    border: 3px solid black;
    color: black;
}

/*****************************
            TRIGUURS
******************************/

#triggeri1,
#triggers1,
#triggers2,
#triggers3,
#triggers4 {
    position: absolute;
}
#triggeri1 {
    top: 0%;
}
#triggers1,
#triggers2 {
    top: 50%;
}
#triggers3,
#triggers4 {
    top: 150%;
}

/*contact ******************/

.content {
    display: none;
}
.ContactDiv {
    align-content: center;
    width: 100%;
    margin-top: 50px;
}
.contact {
    background-color: black;
    border: solid;
    border-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
    width: 80%;
    border-width: 4px;
    margin: 20px 10% 20px 10%;
}
.call div:hover,
.contact:hover {
    background-color: white;
    color: black;
    text-decoration-line: none;
}
.content {
    width: 70%;
    align-content: center;
    margin: 20px 15%;
}
.content>p {
<<<<<<< HEAD
    width: 80%;
    align-content: center;
    padding: 0% 5%;
    margin: 5% 0 5% 0;
    text-align: center;
}
.buttons {
    width: 30%;
    margin: auto;
}
.call {
    text-decoration: none;
    font-size: 1.25em;
    margin: 10% 5%;
    padding: 0 1%;
}
.call div {
    background-color: black;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    color: white;
    width: auto;
    text-align: center;
}

/*footer***********************************************************************/

footer{
    width: 100%;
    height: 20%;
    background-color: #000;
    color: white;
    padding: 2% 0 0 0;
    margin-top: 100px;
    text-align: right;
}

.socialLinks {
    text-align: center;
}

.socialLinks > a{
    font-size: 3em;
    display: inline;
    margin: 2% 9%;
    color: white;
}

footer > a:hover{
    color: grey;
}

small {
    padding: 5px;
}
